body {
    padding: 1.5rem 1rem;
}

.scroll-parent {
    height: 100vh;
}

.scroll-child {
    overflow: auto;
}

.content p {
    white-space: pre-wrap;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
}

.calendar .tag {
    flex-basis: 0;
    flex-grow: 1;
    cursor: pointer;
    margin: 0.2rem;
}

.tag.is-active,
button.is-small.is-active {
    background-color: indigo;
    color: white;
}

.tag.has-entries {
    background-color: #c2c2c2;
}
